In [1]:
import xlsxwriter
import urllib
from bs4 import BeautifulSoup
match_link="http://www.espncricinfo.com/series/8048/scorecard/1136579/royal-challengers-bangalore-vs-delhi-daredevils-19th-match-indian-premier-league-2018"
#Ensure you update this
match_no=19
innings=['DD','RCB']
man_of_the_match="%Villiers"
winning_team="RCB"

In [2]:
#Connect to cricinfo website and get the response into soup using beautiful soup library
sock = urllib.request.urlopen(match_link) 
htmlSource = sock.read()                            
soup = BeautifulSoup(htmlSource, 'html.parser')
batsmen_data=soup.find_all("div",{"class":"scorecard-section batsmen"})
bowlers_data=soup.find_all("div",{"class":"scorecard-section bowling"})
all_queries_list=[]

In [3]:
#Function to get the batting scorecard
import pandas as pd

def extract_batting_scorecard(team_no,batsmen_data):
    batsmen_data_extract=batsmen_data[team_no-1]
    batsmen_data_header=batsmen_data_extract.find_all("div",{"class":"wrap header"})

    batsmen_header=[]
    for link in batsmen_data_header[0]:
        if(link.text!=''):
            batsmen_header.append(link.text.replace('BATSMEN','Player_Name'))

    team_bat=batsmen_data_extract.find_all("div",{"class":"cell batsmen"})

    team_batters=[]
    for a in team_bat:
        if(a.text!='' and a.text!='BATSMEN'):
            team_batters.append(a.text.replace(' †','').replace(' (c)',''))

    team_bat=batsmen_data_extract.find_all("div",{"class":"cell batsmen"})

    team_batters=[]
    for a in team_bat:
        if(a.text!='' and a.text!='BATSMEN'):
            team_batters.append(a.text.replace(' †','').replace(' (c)',''))

    team_bat=batsmen_data_extract.find_all("div",{"class":"cell runs"})
    team_batters_score=[]
    for a in team_bat:
        if(a.text!='' and a.text!='BATSMEN'):
            team_batters_score.append(a.text.replace(' †','').replace(' (c)',''))

    team_batters_len=len(team_batters)+1
    team_runs=[]
    team_balls=[]
    team_4s=[]
    team_6s=[]
    team_sr=[]
    team_list=[]
    for i in range(1, team_batters_len):
        team_runs.append(int(team_batters_score[i*5]))
        team_balls.append(int(team_batters_score[i*5+1]))
        team_4s.append(int(team_batters_score[i*5+2]))
        team_6s.append(int(team_batters_score[i*5+3]))
        if(team_batters_score[i*5+4]=='-'):
            team_batters_score[i*5+4]='0'
        team_sr.append(float(team_batters_score[i*5+4]))
        team_list.append(str(innings[team_no-1]))

    score_card_batting=pd.DataFrame({'Player_Name' : team_batters,
     'R' : team_runs,
     'B':team_balls,
     '4s':team_4s,'6s':team_6s,'SR':team_sr,'Team':team_list
     }, columns=batsmen_header.append('Team'))

    return score_card_batting

In [4]:
import operator
final_batting_scorecard=extract_batting_scorecard(1,batsmen_data)
try:
    final_batting_scorecard=final_batting_scorecard.append(extract_batting_scorecard(2,batsmen_data), ignore_index=True)
except:
    pass
final_batting_scorecard['4s_points']=final_batting_scorecard['4s']*5
final_batting_scorecard['6s_points']=final_batting_scorecard['6s']*10
final_batting_scorecard['runs_points']=final_batting_scorecard['R']*1
final_batting_scorecard['runs_bonus_points']=0
final_batting_scorecard.loc[final_batting_scorecard['R'] ==0, 'runs_bonus_points'] = -20
final_batting_scorecard.loc[final_batting_scorecard['R'] >=50, 'runs_bonus_points'] = 25
final_batting_scorecard.loc[final_batting_scorecard['R'] >=100, 'runs_bonus_points'] = 50
final_batting_scorecard['sr_points']=0
final_batting_scorecard.loc[operator.and_(operator.and_(operator.or_(final_batting_scorecard['R'] >=15, final_batting_scorecard['B'] >=15),final_batting_scorecard['SR']>=50 ),final_batting_scorecard['SR']<75), 'sr_points'] =-20
final_batting_scorecard.loc[operator.and_(operator.and_(operator.or_(final_batting_scorecard['R'] >=15, final_batting_scorecard['B'] >=15),final_batting_scorecard['SR']>=75 ),final_batting_scorecard['SR']<100), 'sr_points'] =-10
final_batting_scorecard.loc[operator.and_(operator.and_(operator.or_(final_batting_scorecard['R'] >=15, final_batting_scorecard['B'] >=15),final_batting_scorecard['SR']>=100), final_batting_scorecard['SR']<125), 'sr_points'] =0
final_batting_scorecard.loc[operator.and_(operator.and_(operator.or_(final_batting_scorecard['R'] >=15, final_batting_scorecard['B'] >=15),final_batting_scorecard['SR']>=125), final_batting_scorecard['SR']<175), 'sr_points'] =10
final_batting_scorecard.loc[operator.and_(operator.and_(operator.or_(final_batting_scorecard['R'] >=15, final_batting_scorecard['B'] >=15),final_batting_scorecard['SR']>=175), final_batting_scorecard['SR']<250), 'sr_points'] =20
final_batting_scorecard.loc[operator.and_(operator.and_(operator.or_(final_batting_scorecard['R'] >=15, final_batting_scorecard['B'] >=15),final_batting_scorecard['SR']>=250), final_batting_scorecard['SR']<1000), 'sr_points'] =30
final_batting_scorecard['total_batting_points']=final_batting_scorecard['4s_points']+final_batting_scorecard['6s_points']+final_batting_scorecard['runs_points']+final_batting_scorecard['sr_points']+final_batting_scorecard['runs_bonus_points']
final_batting_scorecard=final_batting_scorecard.sort_values(by=['Player_Name'])
final_batting_scorecard=final_batting_scorecard.reset_index()
del final_batting_scorecard['index']
final_batting_scorecard

,4s,6s,B,Player_Name,R,SR,Team,4s_points,6s_points,runs_points,runs_bonus_points,sr_points,total_batting_points
0,10,5,39,AB de Villiers,90,230.76,RCB,50,50,90,25,20,235
1,0,0,0,CH Morris,0,0.00,DD,0,0,0,-20,0,-20
2,0,1,13,CJ Anderson,15,115.38,RCB,0,10,15,0,0,25
3,0,0,10,G Gambhir,3,30.00,DD,0,0,3,0,0,3
4,0,0,6,GJ Maxwell,4,66.66,DD,0,0,4,0,0,4
5,0,0,16,JJ Roy,5,31.25,DD,0,0,5,0,0,5
6,0,0,5,M Vohra,2,40.00,RCB,0,0,2,0,0,2
7,1,1,9,Mandeep Singh,17,188.88,RCB,5,10,17,0,20,52
8,1,1,16,Q de Kock,18,112.50,RCB,5,10,18,0,0,33
9,3,0,9,R Tewatia,13,144.44,DD,15,0,13,0,0,28
10,6,7,48,RR Pant,85,177.08,DD,30,70,85,25,20,230
11,4,3,31,SS Iyer,52,167.74,DD,20,30,52,25,10,137
12,2,1,26,V Kohli,30,115.38,RCB,10,10,30,0,0,50

In [5]:
final_batting_scorecard['batting_pos'] = final_batting_scorecard.index


for index, row in final_batting_scorecard.iterrows():
    first, *middle, last = str(row["Player_Name"]).split()
    player_name_short=first[0].lower()+"%"+last.lower()
    all_queries_list.append("Update ipl_match_stats_new set batting_pos="+str(row["batting_pos"])+
           " where lower(player_name) like '"+player_name_short+"%' and team_name='"+row["Team"]+
           "' and match_no="+str(match_no)+";")

for index, row in final_batting_scorecard.iterrows():
    all_queries_list.append("Update ipl_match_stats_new set runs_scored="+str(row["R"])+
                            ",balls_faced="+str(row["B"])+
                            ",fours_scored="+str(row["4s"])+
                            ",sixes_scored="+str(row["6s"])+
                            " where batting_pos="+str(row["batting_pos"])+" and match_no="+str(match_no)+";")

In [6]:
def extract_bowling_scorecard(team_no,batsmen_data):
    bowling_data_extract=bowlers_data[team_no-1]

    bowling_data_header=bowling_data_extract.find_all("thead")
    bowling_data_header_th=bowling_data_header[0].find_all("th")
    
    bowling_header=[]
    for link in bowling_data_header_th:
        if(link.text!=''):
            bowling_header.append(link.text.replace("Bowling","Player_Name"))
            
    bowling_data_body=bowling_data_extract.find_all("tbody")
    bowling_data_header_td=bowling_data_body[0].find_all("td")
    bowling_data_header_td
    
    bowling_content=[]
    for link in bowling_data_header_td:
        if(link.text!=''):
            bowling_content.append(link.text)
    
    bowling_content_len=len(bowling_content)
    bowling_header_len=len(bowling_header)
    team_bowlers_len=int(bowling_content_len/bowling_header_len)
    
    bowlers=[]
    overs=[]
    maidens=[]
    runs=[]
    wickets=[]
    econ=[]
    zeroes=[]
    fours=[]
    sixes=[]
    wides=[]
    noballs=[]
    team_list=[]

    
    for i in range(0, team_bowlers_len):
        if(team_no==1):
            team_list.append(str(innings[team_no]))
        else:
            team_list.append(str(innings[team_no-2]))
        wides.append(0)
        noballs.append(0)
        bowlers.append(bowling_content[i*bowling_header_len])
        overs.append(float(bowling_content[i*bowling_header_len+1]))
        maidens.append(int(bowling_content[i*bowling_header_len+2]))
        runs.append(int(bowling_content[i*bowling_header_len+3]))
        wickets.append(int(bowling_content[i*bowling_header_len+4]))
        econ.append(float(bowling_content[i*bowling_header_len+5]))
        
        try:
            zeroes.append(int(bowling_content[i*bowling_header_len+6]))
            fours.append(int(bowling_content[i*bowling_header_len+7]))
            sixes.append(int(bowling_content[i*bowling_header_len+8]))
        except:
            zeroes.append(0)
            fours.append(0)
            sixes.append(0)
    
    score_card_bowling=pd.DataFrame({'Player_Name' : bowlers,'Team_BOWL':team_list,
         'O' : overs,
         'M': maidens,
         'R':runs,
         'W':wickets,
         'Econ':econ,
         '0s':zeroes,
         '4s':fours, 
         '6s':sixes,
         'WD':wides,
         'NB':noballs
         }, columns=['Player_Name','Team_BOWL','O','M','R','W','Econ','0s','4s','6s','WD','NB'])
    return score_card_bowling

In [7]:
import operator
final_bowling_scorecard=extract_bowling_scorecard(1,bowlers_data)
try:
    final_bowling_scorecard=final_bowling_scorecard.append(extract_bowling_scorecard(2,bowlers_data), ignore_index=True)
except:
    pass
final_bowling_scorecard['wicket_points']=final_bowling_scorecard['W']*25
final_bowling_scorecard['wicket_bonus_points']=0
final_bowling_scorecard.loc[final_bowling_scorecard['W'] >=3, 'wicket_bonus_points'] = 25
final_bowling_scorecard.loc[final_bowling_scorecard['W'] >=4,'wicket_bonus_points'] = 50
final_bowling_scorecard.loc[final_bowling_scorecard['W'] >=5,'wicket_bonus_points'] = 75
final_bowling_scorecard['dot_ball_points']=0
final_bowling_scorecard['dot_ball_points']=4*(final_bowling_scorecard['0s']-final_bowling_scorecard['4s']-final_bowling_scorecard['6s']*1.5)

final_bowling_scorecard['econ_points']=0
final_bowling_scorecard.loc[operator.and_(operator.and_(final_bowling_scorecard['O'] >=2,final_bowling_scorecard['Econ']>0 ),final_bowling_scorecard['Econ']<=4), 'econ_points'] =25
final_bowling_scorecard.loc[operator.and_(operator.and_(final_bowling_scorecard['O'] >=2,final_bowling_scorecard['Econ']>4 ),final_bowling_scorecard['Econ']<=6), 'econ_points'] =15
final_bowling_scorecard.loc[operator.and_(operator.and_(final_bowling_scorecard['O'] >=2,final_bowling_scorecard['Econ']>6 ),final_bowling_scorecard['Econ']<=8), 'econ_points'] =10
final_bowling_scorecard.loc[operator.and_(operator.and_(final_bowling_scorecard['O'] >=2,final_bowling_scorecard['Econ']>8 ),final_bowling_scorecard['Econ']<=10), 'econ_points'] =0
final_bowling_scorecard.loc[operator.and_(operator.and_(final_bowling_scorecard['O'] >=2,final_bowling_scorecard['Econ']>=10 ),final_bowling_scorecard['Econ']<12), 'econ_points'] =-10
final_bowling_scorecard.loc[operator.and_(operator.and_(final_bowling_scorecard['O'] >=2,final_bowling_scorecard['Econ']>=12 ),final_bowling_scorecard['Econ']<14), 'econ_points'] =-15
final_bowling_scorecard.loc[operator.and_(operator.and_(final_bowling_scorecard['O'] >=2,final_bowling_scorecard['Econ']>=14 ),final_bowling_scorecard['Econ']<100), 'econ_points'] =-25
final_bowling_scorecard['total_bowling_points']=final_bowling_scorecard['wicket_points']+final_bowling_scorecard['wicket_bonus_points']+final_bowling_scorecard['dot_ball_points']+final_bowling_scorecard['econ_points']
final_bowling_scorecard=final_bowling_scorecard.sort_values(by=['Player_Name'])
final_bowling_scorecard=final_bowling_scorecard.reset_index()
del final_bowling_scorecard['index']
final_bowling_scorecard

,Player_Name,Team_BOWL,O,M,R,W,Econ,0s,4s,6s,WD,NB,wicket_points,wicket_bonus_points,dot_ball_points,econ_points,total_bowling_points
0,CH Morris,DD,4.0,0,43,0,10.75,7,3,3,0,0,0,0,-2.0,-10,-12.0
1,CJ Anderson,RCB,1.0,0,10,1,10.00,4,1,1,0,0,25,0,6.0,0,31.0
2,CR Woakes,RCB,4.0,0,40,0,10.00,9,6,1,0,0,0,0,6.0,-10,-4.0
3,GJ Maxwell,DD,2.0,0,13,1,6.50,6,0,1,0,0,25,0,18.0,10,53.0
4,HV Patel,DD,3.0,0,33,1,11.00,3,2,2,0,0,25,0,-8.0,-10,7.0
5,Mohammed Siraj,RCB,4.0,0,35,0,8.75,10,1,3,0,0,0,0,18.0,0,18.0
6,R Tewatia,DD,3.0,0,26,0,8.66,2,0,2,0,0,0,0,-4.0,0,-4.0
7,S Nadeem,DD,2.0,0,27,0,13.50,3,6,0,0,0,0,0,-12.0,-15,-27.0
8,TA Boult,DD,4.0,0,33,1,8.25,6,3,1,0,0,25,0,6.0,0,31.0
9,UT Yadav,RCB,4.0,0,27,1,6.75,11,3,1,0,0,25,0,26.0,10,61.0
10,Washington Sundar,RCB,4.0,0,31,1,7.75,6,1,2,0,0,25,0,8.0,10,43.0
11,YS Chahal,RCB,3.0,0,22,2,7.33,10,1,2,0,0,50,0,24.0,10,84.0

In [8]:
final_bowling_scorecard['bowling_pos'] = final_bowling_scorecard.index

for index, row in final_bowling_scorecard.iterrows():
    first, *middle, last = str(row["Player_Name"]).split()
    player_name_short=first[0].lower()+"%"+last.lower()
    all_queries_list.append("Update ipl_match_stats_new set bowling_pos="+str(row["bowling_pos"])+
           " where lower(player_name) like '"+player_name_short+"%' and team_name='"+row["Team_BOWL"]+
           "' and match_no="+str(match_no)+";")


for index, row in final_bowling_scorecard.iterrows():
    all_queries_list.append("Update ipl_match_stats_new set overs_bowled="+str(row["O"])+
           ",maidens="+str(row["M"])+
           ",runs_given="+str(row["R"])+
           ",wickets="+str(row["W"])+
           ",economy="+str(row["Econ"])+
           ",dots="+str(row["0s"])+
           ",fours="+str(row["4s"])+
           ",sixes="+str(row["6s"])+
           " where bowling_pos="+str(row["bowling_pos"])+" and match_no="+str(match_no)+";")

In [9]:
import numpy as np
result = pd.concat([final_batting_scorecard.set_index('Player_Name'), final_bowling_scorecard.set_index('Player_Name')], axis=1)
result=result.fillna(0)
result2=finaldata=pd.DataFrame()
result2['total_batting_points']=result['total_batting_points']
result2['total_bowling_points']=result['total_bowling_points']
result2['Team_BAT']=result['Team']
result2['Team_BOWL']=result['Team_BOWL']


conditions = [
    result2['Team_BAT']=='0', 
    result2['Team_BAT']!='0']

choices = [result2['Team_BOWL'], result2['Team_BAT']]

result2['Team'] = np.select(conditions, choices)


result2.loc[result2['Team']=='0','Team'] =result['Team_BOWL']

result2['total_bat_bowl_points']=result2['total_batting_points']+result2['total_bowling_points']
result2['Temp_Player_Name'] = result2.index
result2=result2.reset_index()
del result2['index']
result2.insert(0, 'Player_Name', result2['Temp_Player_Name'])
del result2['Temp_Player_Name']
result2

,Player_Name,total_batting_points,total_bowling_points,Team_BAT,Team_BOWL,Team,total_bat_bowl_points
0,AB de Villiers,235.0,0.0,RCB,0,RCB,235.0
1,CH Morris,-20.0,-12.0,DD,DD,DD,-32.0
2,CJ Anderson,25.0,31.0,RCB,RCB,RCB,56.0
3,CR Woakes,0.0,-4.0,0,RCB,0,-4.0
4,G Gambhir,3.0,0.0,DD,0,DD,3.0
5,GJ Maxwell,4.0,53.0,DD,DD,DD,57.0
6,HV Patel,0.0,7.0,0,DD,0,7.0
7,JJ Roy,5.0,0.0,DD,0,DD,5.0
8,M Vohra,2.0,0.0,RCB,0,RCB,2.0
9,Mandeep Singh,52.0,0.0,RCB,0,RCB,52.0
10,Mohammed Siraj,0.0,18.0,0,RCB,0,18.0
11,Q de Kock,33.0,0.0,RCB,0,RCB,33.0
12,R Tewatia,28.0,-4.0,DD,DD,DD,24.0
13,RR Pant,230.0,0.0,DD,0,DD,230.0
14,S Nadeem,0.0,-27.0,0,DD,0,-27.0
15,SS Iyer,137.0,0.0,DD,0,DD,137.0
16,TA Boult,0.0,31.0,0,DD,0,31.0
17,UT Yadav,0.0,61.0,0,RCB,0,61.0
18,V Kohli,50.0,0.0,RCB,0,RCB,50.0
19,Washington Sundar,0.0,43.0,0,RCB,0,43.0
20,YS Chahal,0.0,84.0,0,RCB,0,84.0

In [10]:
#Function to get the batting scorecard
import pandas as pd

def extract_fielding_scorecard(team_no,batsmen_data):
    batsmen_data_extract=batsmen_data[team_no-1]
    batsmen_data_header=batsmen_data_extract.find_all("div",{"class":"wrap header"})

    batsmen_header=[]
    for link in batsmen_data_header[0]:
        if(link.text!=''):
            batsmen_header.append(link.text.replace('BATSMEN','Player_Name'))

    team_bat=batsmen_data_extract.find_all("div",{"class":"cell batsmen"})

    team_batters=[]
    for a in team_bat:
        if(a.text!='' and a.text!='BATSMEN'):
            team_batters.append(a.text.replace(' †','').replace(' (c)',''))

    team_bat=batsmen_data_extract.find_all("div",{"class":"cell batsmen"})

    team_batters=[]
    for a in team_bat:
        if(a.text!='' and a.text!='BATSMEN'):
            team_batters.append(a.text.replace(' †',' ').replace(' (c)',''))

    team_bat=batsmen_data_extract.find_all("div",{"class":"cell commentary"})
    team_fielders_score=[]
    for a in team_bat:
        if(a.text!='' and a.text!='BATSMEN'):
            team_fielders_score.append(a.text.replace(' †',' ').replace(' (c)',''))

    team_batters_len=len(team_fielders_score)
    team_fielders=[]
    direct_run_out_list=[]
    part_of_run_out_list=[]
    stumpings_list=[]

    #team_commentary=[]

    for i in range(0, team_batters_len):
        test_string=team_fielders_score[i]
        #team_commentary.append(test_string)
        st_pos=test_string.find('st ')

        if(("c & b") in test_string):
            test_string=test_string.replace("c & b","c")+test_string.replace("c & b"," b")
        if test_string[0]=="c" and test_string[1]==" ":
            test_string=test_string[2::]
        elif test_string[0]=="c" and test_string[1]!=" ":
            test_string=test_string[1::]
        bpos=test_string.rfind(' b ')
        if(bpos!=-1):
            test_string=test_string[0:bpos].strip()
        
        run_out_pos=test_string.find('run out (')

        if(test_string!='' and test_string!='lbw'  and test_string!='not out'):
            if(st_pos!=0) and (run_out_pos!=0):
                team_fielders.append(test_string)
        if(run_out_pos==0 and '/' not in test_string):
            test_string=test_string.replace("run out (","")
            test_string=test_string.replace(")","")
            test_string=test_string.replace("†","").strip()
            direct_run_out=test_string
            if(direct_run_out_list!=''):
                direct_run_out_list.append(direct_run_out)
        if(run_out_pos==0 and '/' in test_string):
            run_out_pos=test_string.find('run out (')
            if(run_out_pos==0):
                test_string=test_string.replace("run out (","")
                test_string=test_string.replace(")","")
            test_string=test_string.replace("†","").strip()
            part_of_run_out_guys=test_string.split("/")
            for part_of_run_out in part_of_run_out_guys:
                #print(part_of_run_out)
                if(part_of_run_out!='/'):
                    part_of_run_out_list.append(part_of_run_out)
                    #print(part_of_run_out_list)
        if(st_pos==0):
            test_string=test_string[3::]
            test_string=test_string.replace("†","").strip()
            stumpings_list.append(test_string)

    fielding_list=[]
    fielding_list.append(pd.DataFrame({'Catches':team_fielders
     }, columns=['Catches']))
    
    fielding_list.append(pd.DataFrame({'direct_run_out_list':direct_run_out_list
     }, columns=['direct_run_out_list']))

    fielding_list.append(pd.DataFrame({'part_of_run_out_list':part_of_run_out_list
     }, columns=['part_of_run_out_list']))
    
    fielding_list.append(pd.DataFrame({'stumpings_list':stumpings_list
     }, columns=['stumpings_list']))


    return fielding_list

In [11]:
pos=1
fielding_list=extract_fielding_scorecard(pos,batsmen_data)
final_fielding_scorecard=fielding_list[0]
print (innings[pos])
final_fielding_scorecard_pd=pd.DataFrame({'count' : final_fielding_scorecard.groupby( ['Catches'] ).size()}).reset_index()
final_fielding_scorecard_pd.rename(columns = {'Catches':'Player_Name'}, inplace = True)
final_fielding_scorecard_pd

RCB

      Player_Name  count
0          Chahal      1
1  Mohammed Siraj      2
2     de Villiers      1

In [12]:
for index, row in final_fielding_scorecard_pd.iterrows():
    player_name_list=str(row["Player_Name"]).split()
    player_first_name_part=""
    player_name_final="%"+player_name_list[-1]+"%"
    if len(player_name_list)>1:
        player_first_name_part="%"+player_name_list[0][0]+""
        player_name_final=player_first_name_part+player_name_final
    player_name_final=player_name_final.lower()
    all_queries_list.append("Update ipl_match_stats_new set catches="+str(row["count"])+
           " where lower(player_name) like '"+player_name_final+"' and team_name='"+innings[pos]+
           "' and match_no="+str(match_no)+";")

In [13]:
try:
    pos=2
    fielding_list=extract_fielding_scorecard(pos,batsmen_data)
    final_fielding_scorecard=fielding_list[0]
    final_fielding_scorecard['Catches']=final_fielding_scorecard['Catches']
    final_fielding_scorecard_gp=final_fielding_scorecard.groupby(['Catches']).size()
    print (innings[pos-2])
    final_fielding_scorecard_pd=pd.DataFrame({'count' : final_fielding_scorecard.groupby( ['Catches'] ).size()}).reset_index()
    final_fielding_scorecard_pd.rename(columns = {'Catches':'Player_Name'}, inplace = True)
    final_fielding_scorecard_pd
except:
    pass

DD

In [14]:
for index, row in final_fielding_scorecard_pd.iterrows():
    player_name_list=str(row["Player_Name"]).split()
    player_first_name_part=""
    player_name_final="%"+player_name_list[-1]+"%"
    if len(player_name_list)>1:
        player_first_name_part="%"+player_name_list[0][0]+""
        player_name_final=player_first_name_part+player_name_final
        # only problem is Hardik and Krunal Pandya
        if("%h%pandya%" in player_name_final.lower()):
            player_name_final="h%pandya%"
        elif("%k%pandya%" in player_name_final.lower()):
            player_name_final="k%pandya%"
    player_name_final=player_name_final.lower()
    all_queries_list.append("Update ipl_match_stats_new set catches="+str(row["count"])+
           " where lower(player_name) like '"+player_name_final+"' and team_name='"+innings[pos-2]+
           "' and match_no="+str(match_no)+";")

In [15]:
pos=1
fielding_list=extract_fielding_scorecard(pos,batsmen_data)
final_fielding_scorecard=fielding_list[1]
final_fielding_scorecard['direct_run_out_list']=final_fielding_scorecard['direct_run_out_list']
print (innings[pos])
final_fielding_scorecard_pd=pd.DataFrame({'count' : final_fielding_scorecard.groupby( ['direct_run_out_list'] ).size()}).reset_index()
final_fielding_scorecard_pd

RCB

Empty DataFrame
Columns: [direct_run_out_list, count]
Index: []

In [16]:
for index, row in final_fielding_scorecard_pd.iterrows():
    player_name_list=str(row["direct_run_out_list"]).split()
    player_first_name_part=""
    player_name_final="%"+player_name_list[-1]+"%"
    if len(player_name_list)>1:
        player_first_name_part="%"+player_name_list[0][0]+""
        player_name_final=player_first_name_part+player_name_final
    player_name_final=player_name_final.lower()
    all_queries_list.append("Update ipl_match_stats_new set direct_run_out="+str(row["count"])+
           " where lower(player_name) like '"+player_name_final+"' and team_name='"+innings[pos-2]+
           "' and match_no="+str(match_no)+";")

In [17]:
try:
    pos=2
    fielding_list=extract_fielding_scorecard(pos,batsmen_data)
    final_fielding_scorecard=fielding_list[1]
    final_fielding_scorecard['direct_run_out_list']=final_fielding_scorecard['direct_run_out_list']
    print (innings[pos-2])
    final_fielding_scorecard_pd=pd.DataFrame({'count' : final_fielding_scorecard.groupby( ['direct_run_out_list'] ).size()}).reset_index()
except:
    pass
#final_fielding_scorecard_pd

DD

In [18]:
for index, row in final_fielding_scorecard_pd.iterrows():
    player_name_list=str(row["direct_run_out_list"]).split()
    player_first_name_part=""
    player_name_final="%"+player_name_list[-1]+"%"
    if len(player_name_list)>1:
        player_first_name_part="%"+player_name_list[0][0]+""
        player_name_final=player_first_name_part+player_name_final
    player_name_final=player_name_final.lower()
    all_queries_list.append("Update ipl_match_stats_new set direct_run_out="+str(row["count"])+
           " where lower(player_name) like '"+player_name_final+"' and team_name='"+innings[pos-2]+
           "' and match_no="+str(match_no)+";")

In [19]:
pos=1
fielding_list=extract_fielding_scorecard(pos,batsmen_data)
final_fielding_scorecard=fielding_list[2]
final_fielding_scorecard['part_of_run_out_list']=final_fielding_scorecard['part_of_run_out_list']
print (innings[pos])
final_fielding_scorecard.groupby(['part_of_run_out_list']).size()
final_fielding_scorecard_pd=pd.DataFrame({'count' : final_fielding_scorecard.groupby( ['part_of_run_out_list'] ).size()}).reset_index()
final_fielding_scorecard_pd

RCB

Empty DataFrame
Columns: [part_of_run_out_list, count]
Index: []

In [20]:
for index, row in final_fielding_scorecard_pd.iterrows():
    player_name_list=str(row["part_of_run_out_list"]).split()
    player_first_name_part=""
    player_name_final="%"+player_name_list[-1]+"%"
    if len(player_name_list)>1:
        player_first_name_part="%"+player_name_list[0][0]+""
        player_name_final=player_first_name_part+player_name_final
    player_name_final=player_name_final.lower()
    all_queries_list.append("Update ipl_match_stats_new set part_of_run_out="+str(row["count"])+
           " where lower(player_name) like '"+player_name_final+"' and team_name='"+innings[pos-2]+
           "' and match_no="+str(match_no)+";")

In [21]:
try:
    pos=2
    fielding_list=extract_fielding_scorecard(pos,batsmen_data)
    final_fielding_scorecard=fielding_list[2]
    final_fielding_scorecard['part_of_run_out_list']=final_fielding_scorecard['part_of_run_out_list']
    print (innings[pos-2])
    #final_fielding_scorecard.groupby(['part_of_run_out_list']).size()
    final_fielding_scorecard_pd=pd.DataFrame({'count' : final_fielding_scorecard.groupby( ['part_of_run_out_list'] ).size()}).reset_index()
except:
    pass
#final_fielding_scorecard_pd

DD

In [22]:
for index, row in final_fielding_scorecard_pd.iterrows():
    player_name_list=str(row["part_of_run_out_list"]).split()
    player_first_name_part=""
    player_name_final="%"+player_name_list[-1]+"%"
    if len(player_name_list)>1:
        player_first_name_part="%"+player_name_list[0][0]+""
        player_name_final=player_first_name_part+player_name_final
    player_name_final=player_name_final.lower()
    all_queries_list.append("Update ipl_match_stats_new set part_of_run_out="+str(row["count"])+
           " where lower(player_name) like '"+player_name_final+"' and team_name='"+innings[pos-2]+
           "' and match_no="+str(match_no)+";")

In [23]:
pos=1
fielding_list=extract_fielding_scorecard(pos,batsmen_data)
final_fielding_scorecard=fielding_list[3]
final_fielding_scorecard['stumpings_list']=final_fielding_scorecard['stumpings_list']
print (innings[pos])
#final_fielding_scorecard.groupby(['stumpings_list']).size()
final_fielding_scorecard_pd=pd.DataFrame({'count' : final_fielding_scorecard.groupby( ['stumpings_list'] ).size()}).reset_index()
final_fielding_scorecard_pd

RCB

Empty DataFrame
Columns: [stumpings_list, count]
Index: []

In [24]:
for index, row in final_fielding_scorecard_pd.iterrows():
    player_name_list=str(row["stumpings_list"]).split()
    player_first_name_part=""
    player_name_final="%"+player_name_list[-1]+"%"
    if len(player_name_list)>1:
        player_first_name_part="%"+player_name_list[0][0]+""
        player_name_final=player_first_name_part+player_name_final
    player_name_final=player_name_final.lower()
    all_queries_list.append("Update ipl_match_stats_new set stumpings="+str(row["count"])+
           " where lower(player_name) like '"+player_name_final+"' and team_name='"+innings[pos-2]+
           "' and match_no="+str(match_no)+";")

In [25]:
try:
    pos=2
    fielding_list=extract_fielding_scorecard(pos,batsmen_data)
    final_fielding_scorecard=fielding_list[3]
    final_fielding_scorecard['stumpings_list']=final_fielding_scorecard['stumpings_list']
    print (innings[pos-2])
    #final_fielding_scorecard.groupby(['stumpings_list']).size()
    final_fielding_scorecard_pd=pd.DataFrame({'count' : final_fielding_scorecard.groupby( ['stumpings_list'] ).size()}).reset_index()
    final_fielding_scorecard_pd
except:
    pass

DD

In [26]:
for index, row in final_fielding_scorecard_pd.iterrows():
    player_name_list=str(row["stumpings_list"]).split()
    player_first_name_part=""
    player_name_final="%"+player_name_list[-1]+"%"
    if len(player_name_list)>1:
        player_first_name_part="%"+player_name_list[0][0]+""
        player_name_final=player_first_name_part+player_name_final
    player_name_final=player_name_final.lower()
    all_queries_list.append("Update ipl_match_stats_new set stumpings="+str(row["count"])+
           " where lower(player_name) like '"+player_name_final+"' and team_name='"+innings[pos-2]+
           "' and match_no="+str(match_no)+";")

In [27]:
all_queries_list.append("update ipl_match_stats_new  set is_out='Y' where match_no="+str(match_no)+"  and balls_faced >0;")
all_queries_list.append("update ipl_match_stats_new  set strike_rate=ROUND((runs_scored*100/balls_faced),2) where match_no="+str(match_no)+" and balls_faced>0;")
all_queries_list.append("update ipl_match_stats_new  set economy=ROUND((runs_given/(floor(overs_bowled)+(overs_bowled-floor(overs_bowled))/6*10)),2) where match_no="+str(match_no)+"  and overs_bowled>0;")

all_queries_list.append("\n------------Manually update if any update has zero records updated add replace based on player name \n\n\n\nupdate ipl_match_stats_new  set is_part_of_winning_team='Y' where match_no="+str(match_no)+"  and team_name='"+winning_team+"';") 
all_queries_list.append("update ipl_match_stats_new  set is_mom='Y' where match_no="+str(match_no)+" and player_name like '%"+man_of_the_match+"%';") 


                        
all_queries_str="\n".join(all_queries_list)

all_queries_str=all_queries_str.replace("k%karthik","d%karthik")
all_queries_str=all_queries_str.replace("k%gowtham","%gowtham%k%");
all_queries_str=all_queries_str.replace("m%rahman%","mujeeb%");
all_queries_str=all_queries_str.replace("klaasen%","kla%sen%");



print (all_queries_str)

Update ipl_match_stats_new set batting_pos=0 where lower(player_name) like 'a%villiers%' and team_name='RCB' and match_no=19;
Update ipl_match_stats_new set batting_pos=1 where lower(player_name) like 'c%morris%' and team_name='DD' and match_no=19;
Update ipl_match_stats_new set batting_pos=2 where lower(player_name) like 'c%anderson%' and team_name='RCB' and match_no=19;
Update ipl_match_stats_new set batting_pos=3 where lower(player_name) like 'g%gambhir%' and team_name='DD' and match_no=19;
Update ipl_match_stats_new set batting_pos=4 where lower(player_name) like 'g%maxwell%' and team_name='DD' and match_no=19;
Update ipl_match_stats_new set batting_pos=5 where lower(player_name) like 'j%roy%' and team_name='DD' and match_no=19;
Update ipl_match_stats_new set batting_pos=6 where lower(player_name) like 'm%vohra%' and team_name='RCB' and match_no=19;
Update ipl_match_stats_new set batting_pos=7 where lower(player_name) like 'm%singh%' and team_name='RCB' and match_no=19;
Update ipl_match_stats_new set batting_pos=8 where lower(player_name) like 'q%kock%' and team_name='RCB' and match_no=19;
Update ipl_match_stats_new set batting_pos=9 where lower(player_name) like 'r%tewatia%' and team_name='DD' and match_no=19;
Update ipl_match_stats_new set batting_pos=10 where lower(player_name) like 'r%pant%' and team_name='DD' and match_no=19;
Update ipl_match_stats_new set batting_pos=11 where lower(player_name) like 's%iyer%' and team_name='DD' and match_no=19;
Update ipl_match_stats_new set batting_pos=12 where lower(player_name) like 'v%kohli%' and team_name='RCB' and match_no=19;
Update ipl_match_stats_new set runs_scored=90,balls_faced=39,fours_scored=10,sixes_scored=5 where batting_pos=0 and match_no=19;
Update ipl_match_stats_new set runs_scored=0,balls_faced=0,fours_scored=0,sixes_scored=0 where batting_pos=1 and match_no=19;
Update ipl_match_stats_new set runs_scored=15,balls_faced=13,fours_scored=0,sixes_scored=1 where batting_pos=2 and match_no=19;
Update ipl_match_stats_new set runs_scored=3,balls_faced=10,fours_scored=0,sixes_scored=0 where batting_pos=3 and match_no=19;
Update ipl_match_stats_new set runs_scored=4,balls_faced=6,fours_scored=0,sixes_scored=0 where batting_pos=4 and match_no=19;
Update ipl_match_stats_new set runs_scored=5,balls_faced=16,fours_scored=0,sixes_scored=0 where batting_pos=5 and match_no=19;
Update ipl_match_stats_new set runs_scored=2,balls_faced=5,fours_scored=0,sixes_scored=0 where batting_pos=6 and match_no=19;
Update ipl_match_stats_new set runs_scored=17,balls_faced=9,fours_scored=1,sixes_scored=1 where batting_pos=7 and match_no=19;
Update ipl_match_stats_new set runs_scored=18,balls_faced=16,fours_scored=1,sixes_scored=1 where batting_pos=8 and match_no=19;
Update ipl_match_stats_new set runs_scored=13,balls_faced=9,fours_scored=3,sixes_scored=0 where batting_pos=9 and match_no=19;
Update ipl_match_stats_new set runs_scored=85,balls_faced=48,fours_scored=6,sixes_scored=7 where batting_pos=10 and match_no=19;
Update ipl_match_stats_new set runs_scored=52,balls_faced=31,fours_scored=4,sixes_scored=3 where batting_pos=11 and match_no=19;
Update ipl_match_stats_new set runs_scored=30,balls_faced=26,fours_scored=2,sixes_scored=1 where batting_pos=12 and match_no=19;
Update ipl_match_stats_new set bowling_pos=0 where lower(player_name) like 'c%morris%' and team_name='DD' and match_no=19;
Update ipl_match_stats_new set bowling_pos=1 where lower(player_name) like 'c%anderson%' and team_name='RCB' and match_no=19;
Update ipl_match_stats_new set bowling_pos=2 where lower(player_name) like 'c%woakes%' and team_name='RCB' and match_no=19;
Update ipl_match_stats_new set bowling_pos=3 where lower(player_name) like 'g%maxwell%' and team_name='DD' and match_no=19;
Update ipl_match_stats_new set bowling_pos=4 where lower(player_name) like 'h%patel%' and team_name='DD' and match_no=19;
Update ipl_match_stats_new set bowling_pos=5 where lower(player_name) like 'm%siraj%' and team_name='RCB' and match_no=19;
Update ipl_match_stats_new set bowling_pos=6 where lower(player_name) like 'r%tewatia%' and team_name='DD' and match_no=19;
Update ipl_match_stats_new set bowling_pos=7 where lower(player_name) like 's%nadeem%' and team_name='DD' and match_no=19;
Update ipl_match_stats_new set bowling_pos=8 where lower(player_name) like 't%boult%' and team_name='DD' and match_no=19;
Update ipl_match_stats_new set bowling_pos=9 where lower(player_name) like 'u%yadav%' and team_name='RCB' and match_no=19;
Update ipl_match_stats_new set bowling_pos=10 where lower(player_name) like 'w%sundar%' and team_name='RCB' and match_no=19;
Update ipl_match_stats_new set bowling_pos=11 where lower(player_name) like 'y%chahal%' and team_name='RCB' and match_no=19;
Update ipl_match_stats_new set overs_bowled=4.0,maidens=0,runs_given=43,wickets=0,economy=10.75,dots=7,fours=3,sixes=3 where bowling_pos=0 and match_no=19;
Update ipl_match_stats_new set overs_bowled=1.0,maidens=0,runs_given=10,wickets=1,economy=10.0,dots=4,fours=1,sixes=1 where bowling_pos=1 and match_no=19;
Update ipl_match_stats_new set overs_bowled=4.0,maidens=0,runs_given=40,wickets=0,economy=10.0,dots=9,fours=6,sixes=1 where bowling_pos=2 and match_no=19;
Update ipl_match_stats_new set overs_bowled=2.0,maidens=0,runs_given=13,wickets=1,economy=6.5,dots=6,fours=0,sixes=1 where bowling_pos=3 and match_no=19;
Update ipl_match_stats_new set overs_bowled=3.0,maidens=0,runs_given=33,wickets=1,economy=11.0,dots=3,fours=2,sixes=2 where bowling_pos=4 and match_no=19;
Update ipl_match_stats_new set overs_bowled=4.0,maidens=0,runs_given=35,wickets=0,economy=8.75,dots=10,fours=1,sixes=3 where bowling_pos=5 and match_no=19;
Update ipl_match_stats_new set overs_bowled=3.0,maidens=0,runs_given=26,wickets=0,economy=8.66,dots=2,fours=0,sixes=2 where bowling_pos=6 and match_no=19;
Update ipl_match_stats_new set overs_bowled=2.0,maidens=0,runs_given=27,wickets=0,economy=13.5,dots=3,fours=6,sixes=0 where bowling_pos=7 and match_no=19;
Update ipl_match_stats_new set overs_bowled=4.0,maidens=0,runs_given=33,wickets=1,economy=8.25,dots=6,fours=3,sixes=1 where bowling_pos=8 and match_no=19;
Update ipl_match_stats_new set overs_bowled=4.0,maidens=0,runs_given=27,wickets=1,economy=6.75,dots=11,fours=3,sixes=1 where bowling_pos=9 and match_no=19;
Update ipl_match_stats_new set overs_bowled=4.0,maidens=0,runs_given=31,wickets=1,economy=7.75,dots=6,fours=1,sixes=2 where bowling_pos=10 and match_no=19;
Update ipl_match_stats_new set overs_bowled=3.0,maidens=0,runs_given=22,wickets=2,economy=7.33,dots=10,fours=1,sixes=2 where bowling_pos=11 and match_no=19;
Update ipl_match_stats_new set catches=1 where lower(player_name) like '%chahal%' and team_name='RCB' and match_no=19;
Update ipl_match_stats_new set catches=2 where lower(player_name) like '%m%siraj%' and team_name='RCB' and match_no=19;
Update ipl_match_stats_new set catches=1 where lower(player_name) like '%d%villiers%' and team_name='RCB' and match_no=19;
Update ipl_match_stats_new set catches=1 where lower(player_name) like '%boult%' and team_name='DD' and match_no=19;
Update ipl_match_stats_new set catches=1 where lower(player_name) like '%roy%' and team_name='DD' and match_no=19;
Update ipl_match_stats_new set part_of_run_out=1 where lower(player_name) like '%pant%' and team_name='DD' and match_no=19;
Update ipl_match_stats_new set part_of_run_out=1 where lower(player_name) like '%shankar%' and team_name='DD' and match_no=19;
Update ipl_match_stats_new set part_of_run_out=1 where lower(player_name) like '%tewatia%' and team_name='DD' and match_no=19;
update ipl_match_stats_new  set is_out='Y' where match_no=19  and balls_faced >0;
update ipl_match_stats_new  set strike_rate=ROUND((runs_scored*100/balls_faced),2) where match_no=19 and balls_faced>0;
update ipl_match_stats_new  set economy=ROUND((runs_given/(floor(overs_bowled)+(overs_bowled-floor(overs_bowled))/6*10)),2) where match_no=19  and overs_bowled>0;

------------Manually update if any update has zero records updated add replace based on player name



update ipl_match_stats_new  set is_part_of_winning_team='Y' where match_no=19  and team_name='RCB';
update ipl_match_stats_new  set is_mom='Y' where match_no=19 and player_name like '%%Villiers%';